@model ECommerce.Web.ViewModels.Products.ProductsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" asp-action="Post">
        <label>Name</label>
        <input asp-for="@Model.Product.Name" />
        <label>Description</label>
        <input asp-for="@Model.Product.Description" />
        <label>Value</label>
        <input asp-for="@Model.Product.Value" />
        <input type="submit" value="Save Product" />
    </form>
</div>

<div class="text-center mb-4">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Administrator</a>
</div>


@foreach (var product in Model.Products)
{
    <p>
        @product.Name -@product.Description - @product.Value
    </p>
}